" Configuration for IdeaVim plugin (JetBrains).

" Map leader key
let mapleader = ' ' 

" Display long lines as just one line
set nowrap

" Show the cursor position all the time
set ruler

" Treat dash separated words as a word text object
set iskeyword+=-

" Enable your mouse
set mouse=a

" Horizontal splits will automatically be below
set splitbelow

" Vertical splits will automatically be to the right
set splitright

" So that I can see `` in markdown files
set conceallevel=0

" Line numbers
set number relativenumber

" Show actual mode
set showmode

" Faster completion
set updatetime=300

" Short timeout
set timeoutlen=500

" Copy paste between everything else
set clipboard=unnamed

" Easier modes exit
inoremap jk <Esc>
inoremap kj <Esc>

" Go to next/previous tab
nnoremap <A-j> :action PreviousTab<CR> 
nnoremap <A-k> :action NextTab<CR> 

" Better tabbing
vnoremap < <gv
vnoremap > >gv

" Better window navigation
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Split vertically
nmap <C-w><C-v> :action SplitVertically<CR>

" Split horizontally
nmap <C-w><C-s> :action SplitHorizontally<CR>

" Restore default editor layout (hide all tools)
nmap <C-w><C-o> :action RestoreDefaultLayout<CR>

" Key binding for file fuzzy finder
nmap <C-/> :action GotoFile<CR>

" Key binding for class fuzzy finder
nmap <leader>c/ :action GotoClass<CR>

" Key binding for action fuzzy finder
nmap <leader>a/ :action GotoAction<CR>

" Key binding for everything fuzzy finder
nmap <leader>// :action SearchEverywhere<CR>

" Key binding for recent files
nmap <leader>r :action RecentFiles<CR>

" Key binding for git actions
nmap <leader>g :action Vcs.QuickListPopupAction<CR>

" Key binding for quick documentation
nmap <leader>d :action QuickJavaDoc<CR>

" Key binding for code reformat
nmap <leader>cf :action ReformatCode<CR>

" Key binding for optimize imports
nmap <leader>oi :action OptimizeImports<CR>

" Key binding for line comment
nmap <leader>cc :action CommentByLineComment<CR>

" Key binding for refactor purposes
nmap <leader>cr :action RenameElement<CR>

" Key binding for go to declaration
nmap <leader>cd :action GotoDeclaration<CR>

" Key binding for go to implementation
nmap <leader>ci :action GotoImplementation<CR>

" Key binding for references
nmap <leader>cu :action FindUsages<CR>

" Key binding for code generation
nmap <leader>cg :action Generate<CR>

" Key binding for code surround
nmap <leader>cs :action SurroundWith<CR>

" Key binding for new file creation
nmap <leader>ma :action NewElementSamePlace<CR>
