" IdeaVim plugin configuration (JetBrains).

" Set leader key
let mapleader = "g"

" Handle system clipboard
set clipboard+=unnamed

" The encoding displayed
set encoding=utf-8                      

" The encoding written to file
set fileencoding=utf-8                  

" Show the cursor position all the time
set ruler              			            

" Enable your mouse
set mouse=a                             

" Horizontal splits will automatically be below
set splitbelow                          

" Vertical splits will automatically be to the right
set splitright                          

" This is recommended by coc
set nobackup                            

" This is recommended by coc
set nowritebackup                       

" Faster completion
set updatetime=300                      

" By default timeoutlen is 1000 ms
set timeoutlen=500                      

" Usage of Idea join plugin (join lines smartly)
set ideajoin

" Enable multiple cursors support
set multiple-cursors

" Line numbers
set number relativenumber

" Show active mode
set showmode

" Access to Idea Switcher functionality
nmap <leader>e :action RecentFiles<cr>

" Go to next/previous tab
nnoremap <A-k> :action PreviousTab<cr> 
nnoremap <A-j> :action NextTab<cr> 

" Easier modes exit
inoremap jk <Esc>
inoremap kj <Esc>

" Easy CAPS
inoremap <c-u> <ESC>viwUi
nnoremap <c-u> viwU<Esc>

" Better tabbing
vnoremap < <gv
vnoremap > >gv

" Better window navigation
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
